body{
	background-color: #56565d;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{

	display: flex;
	height: 60vh;
	/*yeuta paxi arko dots*/
	flex-wrap:wrap;
	width: 450px; 
	border:5px solid yellow;
	padding-left: 20px;

}
.items{

background-color: #787a84;
width: 60px;
margin-right: 10px;
border-radius: 50%;
margin-bottom: 10px;
margin-top: 10px;
}

.palette{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #999999;
	margin-top: 20px;
}

.color_option{

	width: 20px;height: 20px;
	margin: 20px;
	border:2px solid red;

}